- if @comments
  .comments.hfeed
    %h2.title Comments
    %p.subtitle= "There are #{@comments.length} comments on this post."

    - @comments.each_with_index do |comment, index|
      - comment_id = "c#{index + 1}"
      %article.comment.hentry{:id => comment_id, :class => (comment['username'] == "lachlanhardy" ? "lachstock" : nil)}
        %address.author.entry-title.vcard
          - if comment['url'] != nil
            %a.url.fn.title{:href => comment['url'], :title => "View #{comment['name']}'s website"}= comment['name']
          - else
            %span.fn.title= comment['name']
        %abbr.subtitle{:class => "published updated", :title => "#{atomify_date(make_base_date(comment['timestamp']))}"}= prettify_base_date(comment['timestamp'])
        %a.muted{:href => "##{comment_id}", :rel => "bookmark", :title => "Permalink for this comment"} Permalink
        .entry-content= comment['body']

    %p.ribbon.ribbon-warn New comments are no longer enabled on this site.
