- if @comments
  #comments
    %h2 Comments
    %p.notice Currently, comments are currently disabled on this site.
    %p.blurb
      = "There are #{@comments.length} comments on this post."
      -# %a{ :href => "#post", :title => "Post your own" } Post your own
  
    - @comments.each_with_index do |comment, index|
      - comment_id = "#c#{index + 1}"
      .comment{:id => comment_id}
        .vcard
          = comment['username']
          - unless comment['username'].nil?
            %img.photo{:src => comment_avatars(comment['username']), :height => "96", :alt => "A guest: #{comment['name']}", :width => "96"}
          - if comment['url'] != nil
            %a.url.fn{:href => comment['url'], :title => "View #{comment['name']}'s website"}= comment['name']
          - else
            %span.fn= comment['name']
        .comment_details
          posted on
          %a{:href => comment_id, :title => "Permalink for this comment"}= comment['timestamp']
        .comment_body
          = comment['body']
