%header.post-title.splash
  %h1.entry-title.splash-head= @title
  %address.author.vcard.splash-subhead
    %span.fn By Lachlan Hardy
  %abbr{:class => "muted published #{@updated.nil? ? nil : "updated"}", :title => atomify_date(make_base_date(@published))}= prettify_base_date(@published)
  %a.muted{:href => "/#{@category}/#{@name}/", :title => "Permalink for this post", :rel => "bookmark" } Permalink
  - unless @updated.nil?
    %p
      %strong Updated:
      %abbr{:class => "updated", :title => atomify_date(make_base_date(@updated))}= prettify_base_date(@updated)