.post-title
  %h1.entry-title= @title
  %address.author.vcard
    %span.fn By Lachlan Hardy
  %abbr{:class => "published #{@updated.nil? ? nil : "updated"}", :title => atomify_date(make_base_date(@published))}= prettify_date(@published)
  %a{:href => "/#{@category}/#{@name}/", :title => "Permalink for this post", :rel => "bookmark" } Permalink
  - unless @updated.nil?
    %p
      %strong Updated:
      %abbr{:class => "updated", :title => atomify_date(make_base_date(@updated))}= prettify_date(@updated)