!!! 5
%html{:lang => "en-au"}
  %head
    %meta{:charset => "utf-8"}

    %title= (@title != "Lachstock" ? "#{@title} at Lachstock" : "Lachlan Hardy Presents: Lachstock^3")

    %link{:rel => "icon", :href => versioned_favicon}

    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "Lachstock Articles", :href => "/articles/feed/"}
    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "Lachstock Code", :href => "/code/feed/"}

    %link{:href => versioned_stylesheet("pure"), :media => "screen", :rel => "stylesheet"}
    %link{:href => versioned_stylesheet("pure-skin"), :media => "screen", :rel => "stylesheet"}
    %link{:href => versioned_stylesheet("typography"), :media => "screen", :rel => "stylesheet"}
    %link{:href => versioned_stylesheet("typography-responsive"), :media => "screen", :rel => "stylesheet"}
    %link{:href => versioned_stylesheet("app"), :media => "screen", :rel => "stylesheet"}
    %link{:href => versioned_stylesheet("codehighlighter"), :media => "screen", :rel => "stylesheet"}

    / Googly verification
    %meta{:name => "verify-v1", :content => "Ai0t9Ys7j76GMrjSEP+rDLIhtNL/ruGT8Lu9frCnBUg="}

  %body{:id => "lachstock-com-au", :class => "csstype pure-skin-lachstock"}
    #wrapper
      = nav_builder
      - if @category == "home"
        .soul-glow
          %h1.humblebrag I'm Lachlan Hardy
      .pure-g-r.page
        - unless @layout
          - unless @name.nil?
            %section.pure-u-3-5
              %article.hentry
                = partial :post_title
                .entry-content
                  = yield
              = comment_builder
            %aside.pure-u-2-5
              - if @category == "code"
                = code_download
          - else
            = yield
        - else
          = yield
    %footer.footer
      %p
        %em Enjoy your problems.

  %script{:src => versioned_javascript("code_highlighter")}
  %script{:src => versioned_javascript("codehighlighter-css")}
  %script{:src => versioned_javascript("codehighlighter-html")}
  %script{:src => versioned_javascript("codehighlighter-javascript")}
  %script{:src => versioned_javascript("codehighlighter-ruby")}
  %script{:src => "https://cdn.usefathom.com/script.js", :site => "KBVDWRVL", :defer => "true"}
