!!! 5
%html{:lang => "en-au"}
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}

    %title= (@title != "Lachstock" ? "#{@title} at Lachstock" : "Lachlan Hardy Presents: Lachstock^3")

    %link{:rel => "icon", :href => versioned_favicon, :type => "image/x-icon"}

    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "Lachstock Articles", :href => "/articles/feed/"}
    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "Lachstock Code", :href => "/code/feed/"}

    / Googly verification
    %meta{:name => "verify-v1", :content => "Ai0t9Ys7j76GMrjSEP+rDLIhtNL/ruGT8Lu9frCnBUg="}

  %body{:id => "lachstock-com-au"}
    #wrapper
      = nav_builder
      - if @category == "home"
        %h1 I'm Lachlan Hardy
      - unless @layout
        - unless @name.nil?
          %article.hentry
            = partial :post_title
            .entry-content
              = yield
            = comment_builder
          %aside
            - if @category == "code"
              = code_download
        - else
          = yield
      - else
        = yield
    %footer.footer
      %p
        %em Enjoy your problems.

  - if production?
    %script{:src => versioned_javascript("production/minified"), :type => "text/javascript"}=""
  - else
    / Adding Dan Webb's Code Highlighter
    %script{:src => versioned_javascript("code_highlighter"), :type => "text/javascript"}=""

    / Adding Code Highlighter - CSS
    %script{:src => versioned_javascript("codehighlighter-css"), :type => "text/javascript"}=""

    / Adding Code Highlighter - HTML
    %script{:src => versioned_javascript("codehighlighter-html"), :type => "text/javascript"}=""

    / Adding Code Highlighter - JavaScript
    %script{:src => versioned_javascript("codehighlighter-javascript"), :type => "text/javascript"}=""

    / Adding Code Highlighter - Ruby
    %script{:src => versioned_javascript("codehighlighter-ruby"), :type => "text/javascript"}=""

    %script{:src => "https://cdn.usefathom.com/script.js", :site => "KBVDWRVL", :defer => "true"}=""
