!!!
%html{:lang => "en-au"}
  %head
    %meta{:charset => "UTF-8"}
    
    / This is invalid in HTML 5 but I can't find a way around it yet. Lame.
    %meta{:"http-equiv" => "X-XRDS-Location", :content => "http://lachstock.com.au/xrds"}
    
    %title
      Lachlan Hardy Presents: 
      = @title
    
    %link{:href => versioned_stylesheet("reset"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    
    %link{:href => versioned_stylesheet("main"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}

    %link{:rel => "icon", :href => versioned_favicon, :type => "image/x-icon"}
        
    / OpenID 
    /  see http://claimid.com/openid for how
    /  I think ClaimID might be dead, but I've yet to find a solution I'd like to switch to.
    %link{:rel => "openid.server", :href => "http://openid.claimid.com/server"}
    %link{:rel => "openid.delegate", :href => "http://openid.claimid.com/lachlanhardy"}

    / MicroID see http://microid.org/
    %meta{:name => "microid", :content => "mailto+http:sha1:f76498744c6c558b7c789508580f8b4d893e4d95"}
    
    / Googly verification
    %meta{:name => "verify-v1", :content => "Ai0t9Ys7j76GMrjSEP+rDLIhtNL/ruGT8Lu9frCnBUg="}

  %body{:id => "lachstock-com-au", :class => (@category == "*" ? nil : @category)}
    #header
      - if @category == "home"
        %h1 Lachstock
      - else
        %p.site-title 
          %a{:href => "/"} Lachstock
      #status
        %p thinks less is the new more.
    #page
    
      - unless @category == "home"
        %p.category= "#{@category_title}:"
        = tag_builder
        .column
          - unless @name.nil?
            = partial :post_title
          = yield
          = comment_builder
      - else
        = yield
      
    #footer
      %p 
        I write 
        %a{:href => "http://validator.w3.org/check?uri=http%3A%2F%2Flachstock.com.au"} HTML 5
        and
        %a{:href => "http://jigsaw.w3.org/css-validator/validator?profile=css3&warning=0&uri=http%3A%2F%2Flachstock.com.au%2F"} CSS 3

  / Sexy JS CDN from Lindsay Evans - http://jscdn.net/ (You've got to admire the front of a man willing to compete with the Google)
  %script{:src => "http://jscdn.net/jquery-1.3.2.js", :type => "text/javascript"}

  / John Resig's sexy little Pretty Date http://ejohn.org/projects/javascript-pretty-date
  %script{:src => versioned_javascript("pretty-date"), :type => "text/javascript"}

  / Adding Raphael for vector graphics hotness - http://raphaeljs.com
  %script{:src => "http://jscdn.net/raphael-0.7.3.js", :type => "text/javascript"}

  / Adding Twitter status
  %script{:src => versioned_javascript("status"), :type => "text/javascript"}

  / Adding Github commits
  %script{:src => versioned_javascript("github-activity"), :type => "text/javascript"}

  / Adding Flickr pic
  %script{:src => versioned_javascript("flickr-pic"), :type => "text/javascript"}

  / Run site scripts
  %script{:src => versioned_javascript("go"), :type => "text/javascript"}

  / reinvigorate tracking code
  %script{:type => "text/javascript",  :src => "http://include.reinvigorate.net/re_.js"}
  %script{:type => "text/javascript"} re_("8w274-764u5oyyps");

