- @title = "#{(@category == "*" ? "All Tagged Items" : "Tagged #{@category.capitalize}")}"

- if @tag.nil?
  #tagspace
    %h1= (@category == "*" ? "Sitewide" : "#{@category}").capitalize
    = partial :tagcloud
    
- else
  #tagged
    %h1= @tag
    
    - if @tags != []
      %ul
        - @tags.each do |tagged_file|
          %li
            %strong= tagged_file[2].strftime("%d %b %Y")
            %a{:href => "/#{tagged_file[0]}/", :rev => "tag"}= tagged_file[1]
            
    - else
      - unless @category == "*"
        %p
          Nothing in the 
          %strong
            =@category.capitalize
          section has been tagged with
          %em
            = @tag + "."
        %p 
          You can check if 
          %a{:href => "/tags/#{@tag}/"}
            %em
              = @tag
            has been used sitewide.
      - else
        %p
          Nothing on this site has been tagged with
          %em
            = @tag + "."