- if @tags
  %ul#tagspace
    - @tags.each do |tag|
      %li
        %a{:href => "#{(@category == "*" ? "/" : "/#{@category}/")}tags/#{tag}"}= tag
        
- if @tag
  #tagged
    %h1= @tag
    %ul
      - @tagged.each do |tagged_file|
        - name = tagged_file.split("/").last
        - pp tagged_file
        %li
          %a{:href => "/#{tagged_file}"}= name